.background-gradient {
    background: linear-gradient(to right, #D7DDE8, #757F9A);
}

.table-row-clickable {
    cursor: pointer;
}

.header-style {
    margin-bottom: 40px;
}

.element-wrapper {
    margin-bottom: 20px;
}

.table-row-complete {
    background-color: lightgreen !important;
}

.chart-wrapper {
    width: 100%;
    height: 500px;
}
